<div class="container-fluid border border-primary">
    <div class="row">
        <div class="col-12">
            <p class="text-center text-uppercase">banksapi-dashboard</p>

            todo...

            <!--<ng-container *ngIf="...|async;let dashboard">-->

                <!--<p>-->
                    <!--Amount: <span class="badge badge-info">{{ dashboard.amount | currency:'EUR':'symbol':'1.2-2':'de' }}</span>-->
                <!--</p>-->

            <!--</ng-container>-->

        </div>
    </div>
</div>
